@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h2{
    background-color: #1CD1B0;
    font-size: 15px;
    padding: 10px 903px 10px 10px;
    height: 38px;
    
}

#tituloheroes{
    background-color:  #00669F;
    position: sticky;
    top: 0;
    z-index: 20;
    
}
#tituloheroes h1{
    padding: 15px 15px;
    color: white;
    
}
header div {
    background-color: #001D2D;
    width: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
header ul{
    display: flex;
    gap: 15px;
    color: white;
}
header ul li a {
    color: white;
    text-decoration: none;
}
main{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main form{
    display: flex;
    flex-direction: column;
    gap:15px;
    width: 700px;
}

#botonesdiv{
    display: flex;
    justify-content: space-around;
}
main button {
    width: 48%;
    background-color: #1CD1B0;
    border-radius: 20px;
    border: transparent;
}
#resetear{
    background-color: grey;
    color:white;
}
button, input, select, textarea {
    font-family: 'Inter', sans-serif;
    font-size: 150%;
    height: 60px;
    border: 2px solid black;
    padding: 5px;
}
main h1 {
    font-size: 72px;
    color: #333333;
    text-align: left;
    padding-bottom: 20px;
}
main div{
    text-align: center;
}
main div a{
    text-decoration: none;
    color: black;
}
#ingresa{
    color: blue;
}

#textareacontacto{
    width: 100%;
    height: 300px;
    text-align: left;
    border-radius: 20px;
    font-size: 150%;
    cursor:url("/heroes/img/batman-logo.png"),pointer;
}





/* footer footer footer footer footer */
footer{
    background-color: #00669F;
    color: #FFF9F9;
    font-size: 16px;
    padding: 16px;
    width: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: auto;
}
#github{
    width: 60px;
    position: absolute;
    right: 20px;
    bottom: 10px;
}



/* footer div:nth-child(1){
    align-items:flex-end;
    
}
footer div:nth-child(2){
    align-content: space-around;
} */



#github{
    width: 78px;  
    height: 21px;
}

/* Tablet */
@media screen and (max-width: 1024px) {

}

/* Mobile */
@media screen and (max-width: 480px) {
    h2{
        padding: 10px 300px 10px 10px;
    }
    .cajagrande{
        align-items: center;
    }
    footer{
        padding: 16px 16px 16px 16px;
        text-align: center;
        
    }
}