@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h2{
    background-color: #1CD1B0;
    font-size: 15px;
    padding: 10px 903px 10px 10px;
    height: 38px;
    
}

#tituloheroes{
    background-color:  #00669F;
    position: sticky;
    top: 0;
    z-index: 20;
    
}
#tituloheroes h1{
    padding: 15px 15px;
    color: white;
}
header div {
    background-color: #001D2D;
    width: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
header ul{
    display: flex;
    gap: 15px;
    color: white;
}
header ul li a {
    color: white;
    text-decoration: none;
}

body{
    height:100vh;
}

.cajagrande{
    background-image: url("/heroes/img/BG\ haRLEY.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;
    display: flex;

}

.superheroe{
    display: inline-block;
    padding-top: 160px;
    padding-bottom: 160px;
    padding-left: 120px;
    
}
.arriba{
    position: relative;

}
.fondo{
        background-image: url("../img/ImagenfondoBatman.png");
        width: 300px;
        height: 193px;
        visibility:hidden;
        
    }
.cara{
    position: absolute;
    border-radius: 100%;
    left: 210px;
    top: 120px;  
    width: 120px;
    height: 118px;
    z-index: 10;
}
.corazon{
    position:absolute;
    width: 30px;
    top: 235px;
    left: 40px;
    z-index: 3;
}


.abajo{
    background-color: #F3F3F3;
    height: 456px;
    position: relative;
    width: 546px;
    border-radius: 30px;
}
h3{
    position: absolute;
    font-size: 30px;
    text-align: center;
    padding: 74px 89px 227px 89px;
}

#harleyquinn{
    margin-left: 90px;
    color: #2C0187;
    text-align: center;
}
.descripcion{
    position: absolute;
    font-size: 17px;
    color: #333333;
    padding: 139px 17px 104px 16px;
    text-align: justify;
}

#armas{
    position: absolute;
    top: 340px;
    left: 190px;
    color: #2C0187;
}
.ver{
    background-color: #2C0187;
    font-size: 15px;
    height: 79px;
    width: 546px;
    position: absolute;
    text-align: center;
    margin-top: 400px;
    border-radius: 0 0 20px 20px;
    
    
}
.ver a{
    font-size: 15px;
    padding-top: 17px;
    color: #F3F3F3;
    text-decoration: none;
    position: absolute;
    right: 224px;
    top:14px;

    
}

.botonañadir{
    position:fixed;
    right: 2%;
    bottom: 20%;
    z-index: 3;
} 

/* footer footer footer footer footer */
footer{
    background-color: #00669F;
    color: #FFF9F9;
    font-size: 16px;
    padding: 16px;
    width: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: auto;
}
#github{
    width: 60px;
    position: absolute;
    right: 20px;
    bottom: 10px;
}



/* footer div:nth-child(1){
    align-items:flex-end;
    
}
footer div:nth-child(2){
    align-content: space-around;
} */



#github{
    width: 78px;  
    height: 21px;
}

/* Tablet */
@media screen and (max-width: 1024px) {

}

/* Mobile */
@media screen and (max-width: 480px) {
    h2{
        padding: 10px 300px 10px 10px;
    }
    .cajagrande{
        align-items: center;
    }
    footer{
        padding: 16px 16px 16px 16px;
        text-align: center;
        
    }
}