@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family:'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


#barrasuperior{
    display: flex;
    background-color:#222222;
    color:#F3F3F3;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0px 35px;
    
}

#barrasuperior ul li{
    list-style: none;
}

ul{
    display: flex;
    gap: 30px;
}
#barramenu{
    background-color: #F0A83E;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.menu a, i{
    color: #F3F3F3;
    text-decoration: none;
}

#banner{
    display: flex;
    background-image: url("../Images/bowl-and-pet-daities-on-green-background\ 1.png");
    background-size: cover;
    height: 100vh;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 42px;
    padding-right: 20px;
    
}

#banner h3{ 
    background-color: #FFFFFF;
    color: #3C2313;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    width:365px;
    height:54px;
    border-radius: 5px;
    text-align:center;
    padding-top: 5px;
}

.bannercomida{
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
    }
.bannercomida a{
    color: #3C2313;
    text-decoration: none;
    
}
#button{
    background-color: #F0A83E;
    padding: 15px 23px;
 }
#button a{
    color: white;
}
.listapata{
    display: flex;
    justify-content: center;
    padding-top: 20px;  
}
.listapata a{
    padding:20px;
}

.imagenesdestacadas{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 20px;
}

#productosdestacados li{
    list-style: none
}
#productosdestacados a{
    color: #666666;
    text-decoration: none;
}
.price{
    color: #F0A83E;
}
/* FORMULARIO */
.formulario{
    height:40vh;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

#titulocontact{
    text-align: center;
}
#titulocontact h1{
    color:#3C2313;
    font-size: 25px;
}
.formulario form{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.formulario input{
    height:40px;
    background-color: #3C2313;
    color: white;
    border-radius: 15px;
    
}
/* subscripcion */
.suscripcion{
    background-color: #F0A83E;
    height: 60px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    
}

.suscripcion div:nth-child(1){
    display: flex;
    flex-direction: row;
    gap: 15px;
}
#imgsobre {
    width: 40px;
}
.suscripcion input{
    width:371px;
    height:40px;
    border-radius: 15px;
    border: transparent;
    padding-left:5px;
}
.suscripcion button{
    width:110px;
    height:40px;
    background-color: #3C2313;
    border-radius: 15px;
    color: white;
}



#botonesdiv{
    display: flex;
    flex-direction: row;
}
#botonesdiv button{
    width: 28%;
    border: transparent;
    border-radius: 20px;
    font-size: 180%;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    
}
#resetear{
    background-color: grey;
    color:white;
}
#botonesdiv button:nth-child(2){
    background-color:#F0A83E;
    color:white;
}




.prefooter{
    background-color: #3C2313;
    color: #FFFFFF;
}

#iconos{
    padding-left: 20px;
    padding-top: 20px;
    
}
#logophone{
    display: none;
}
#iconos div{
    display: flex;
    padding:5px;
}
#cajatelefono{
    display: flex;
    justify-content: space-between;
}
.infoiconos{
    display: flex;
    flex-flow: column;
    margin-left: 40px;
}
#logoabajo{
    width: 266px;
    height: 43px;
    margin-right: 120px;
}
.prefooter i{
    border-radius: 100%;
    font-size: 45px;
    background-color: #8A8787;
    padding: 30px;
    
}
h4{
    font-size: 20px;
}
footer{
    background-color: #222222;
    color:#FFFFFF ;
    text-align: center;
    
}
/* Mobile */
@media screen and (max-width: 480px){
    #barrasuperior{
        width: 90vh;
    }
    #barramenu{
        width: 90vh;
    }
    .menu {
        display: none;
    }
    header section:nth-child(2)::after{
        content: '\f0c9';
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        font-size: 2rem;
        color: white;
        padding-right: 20px;
    }
    .imagenesdestacadas{
        flex-wrap: wrap;
    }

    .iconos{
        display: flex;

    }
    #logoabajo{
        display: none;
    }
    #logophone{
        display: unset;
        width: 134px;
        height: 18px;
        
    }
    .divlogophone{
        justify-content: center;
    }

    #cajatelefono{
        justify-content: center;
    }
    .iconosfooterphone{
        justify-content: center;
    }
    #locationphone{
        padding-right: 160px;
    }
   




}

